<!-- <p>test-api works!</p> -->
<div class="wrapper">
<div *ngIf="loading">Loading...</div>
<div *ngIf="error">{{ error }}</div>



<div *ngIf="!loading && !error">
  <h3>API Workouts</h3>  
 



        <div class="bg-gray-900 py-10">
  <div class="container mx-auto px-4">
    <h4 class="text-white text-2xl font-semibold mb-6">Recent Work</h4>

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
      <div *ngFor="let item of data" class="bg-white rounded-lg shadow p-4">



            <!-- likes functionality -->
            <div class="mb-2">

              <button *ngIf="isLoggedIn" 
              (click)="toggleLike(item)" 
              [class.liked]="item.likedByUser"
              aria-label="Toggle like"
      >
              {{ item.likedByUser ? '★ Liked' : '☆ Like' }} ({{ item.likeCount }})
              </button>
            </div>
    <!-- likes functionality -->
              

        <div class="flex gap-4">
          <div class="w-24 h-24 flex-shrink-0 overflow-hidden rounded-md">
            <a href="#">
              <img [src]="$any(item).randomImage" alt="some" class="w-full h-full object-cover" />

              <!-- <img [src]="item.randomImage" alt="" class="w-full h-full object-cover" /> -->
              <!-- <img src="assets/img/work-9.jpg" alt="" class="w-full h-full object-cover" /> -->
            </a>
          </div>

          <div class="flex-1">
            <!-- <h3 class="text-lg font-bold text-gray-800">{{ item._id }}</h3> -->
            <!-- <p class="text-sm text-gray-600"><strong>Type:</strong> {{ item.type }}</p> -->
            <p class="text-sm text-gray-600"><strong>Equipment:</strong> {{ item.equipment }}</p>

            <div class="mt-2">
              <p class="text-sm font-medium text-gray-700">Exercises:</p>
              <ul class="list-disc list-inside text-sm text-gray-600">
                <li *ngFor="let ex of item.exercises">{{ ex.name }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



